@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

h1,h2 {
  font-family: 'Volkhov', serif;
  color: #181E4B;
}
h1{
  font-size: 4em;
}
h2{
  font-size: 50px;
}
h4{
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  color: #1E1D4C;
}
p{
  color: #5E6282;
  font-size: 0.9em;
  font-family: 'Poppins',sans-serif;
}

header{
  background-image: url(images/Decore.png);
  background-repeat: no-repeat;
  background-position: top right;
}